


body{
     background-color:#fcf8e8;
}
img:hover{
  background-color: gold;
}
hr{
     background-color : #ffffdd ;
     border-style: inset;
     border-color : yellow ;
     width : 100%;
   }
